<div class="container_sakura">
  <div class="recentre">
    <img src="assets/SAKURA.png" >
  </div>
</div>


<div class="title_container">
  <div class="title">
    <h1><%=@style.name%></h1>
  </div>
</div>


<div class="styles_container">
  <div class="styles">
    <% @photos.each do |photo| %>
      <%= link_to show_photo_path(photo) do %>
        <div class="style_cover" >
          <%= image_tag photo.image %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
