<!-- gros sakura or  -->
<div class="container_sakura_photo">
  <%= image_tag 'SAKURA.png' %>
</div>

<!-- logo sakura stable -->
<div class="sakura_show">Sakura</div>

<div class="image_photo_show">
  <%= image_tag @photo.image %>
</div>
