<div>Wesh from Show Style</div>

<% @photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end  %>

<div class="container_styles">
  <div class="styles" style="z-index: 1;">
    <% @photos.each do |photo| %>
      <%= link_to show_photo_path(photo) do %>
        <div class="style_covers" >
          <%= image_tag photo.image %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
